PORT=4000

USER_SERVICE_URL=http://user-svc:4001
PRODUCT_SERVICE_URL=http://product-svc:4002
ORDER_SERVICE_URL=http://order-svc:4003
PAYMENT_SERVICE_URL=http://payment-svc:4004
INVENTORY_SERVICE_URL=http://inventory-svc:4005
NOTIFICATION_SERVICE_URL=http://nofitication-svc4006
